extend layout

block content
  section.form
    h1 profile

    p= uid

    if error
      p.errors= error
    if message
      p.messages= message

    form(method='post', action='/settings')
      h2 Email
      span= email
      h2
        label(for='name') Name
      input(type='text', name='name', placeholder='name', value='#{name}')
      h2 Password
      input(type='password', name='password', placeholder='password')
      input(type='hidden', name='crumb', value='#{crumb}')
      button(type='submit') update
